

/* --- Basics --- */
html,body {
	max-width: 100%;
	overflow: hidden;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	margin: 0;
	padding: 20px 0;
}
img, iframe, embed, audio, video {
	max-width: 100%;
	border: none;
}
a {
	color: #069;
	cursor: pointer;
	transition: all .5s;
	text-decoration: none;
}
a:hover {
	color: #39C;
}
hr {
	border: none;
	border-bottom: 1px solid #CCC;
	margin: 20px 0;
}
.wrapper {
	max-width: 640px;
	margin: 0 auto;
	padding: 0 20px;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	*zoom: 1;
}


/* --- Slider --- */
#slideshow {
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	margin: 0 0 20px;
}
#slideshow .slide {
	position: relative;
}
#slideshow .caption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 90%;
	padding: 10px 5%;
	line-height: 1.25;
	color: #DDD;
	background: rgba(0,0,0,0.8);
}
#slideshow img {
	display: block;
}


/* --- Controls --- */
#controls {
	margin: 0 0 15px;
	overflow: hidden;
}
#controls h3 {
	margin: 0;
	line-height: 1;
}
#controls p {
	margin: 0 0 10px;
}
#controls ul,
#controls ol {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}
#controls li {
	float: left;
}
#controls li a {
	display: block;
	min-width: 10px;
	padding: 0 5px;
	border-radius: 2px;
	text-align: center;
	margin: 0 1px 0 0;
	color: #333;
	background: #DDD;
}
#controls li a span {
	display: none;
}
#controls li a:hover,
#controls li.selected a {
	color: white;
	background: #069;
}
#controls li.disabled a {
	color: #333;
	background: #DDD;
	cursor: default;
	opacity: .25;
}

.play { display: none }
.play.paused { display: list-item }
.pause.paused { display: none }


/* --- Visual Timer --- */
#timer {
	position: relative;
	z-index: 1;
	background: #FFF;
}
#timer .progress {
	background: #069;
	height: 3px;
	width: 0px;
}