

/* --- Basics --- */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	margin: 0;
	padding: 20px 0;
}
a {
	color: #069;
	text-decoration: none;
	cursor: pointer;
	transition: all .5s;
}
a:hover {
	color: #39C;
}
.container {
	overflow: hidden;
}
.wrapper {
	max-width: 500px;
	margin: 0 auto;
	padding: 0 20px;
}
.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }


/* --- Controls --- */
#controls {
	margin: 0 0 15px;
	overflow: hidden;
}
#controls p {
	margin: 0 0 10px;
}
#controls ul,
#controls ol {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}
#controls ol {
	float: right;
}
#controls li {
	float: left;
}
#controls li a {
	display: block;
	min-width: 10px;
	padding: 2px 8px;
	border-radius: 2px;
	text-align: center;
	margin: 0 1px 0 0;
	color: #333;
	background: #DDD;
}
#controls li a:hover {
	color: white;
	background: #999;
}
#controls li.selected a {
	color: white;
	background: #069;
}
#controls li.disabled a {
	color: #333;
	background: #DDD;
	cursor: default;
	opacity: .25;
}
#controls .stop { display: none }
#controls .stop.autoplaying { display: list-item }
#controls .play.autoplaying { display: none }


/* --- Slider --- */
#slider {
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	margin: 0 auto;
	position: relative;
}
#slider .slide {
	position: relative;
}
#slider img {
	display: block;
	max-width: 100%;
	border: none;
}

/* Caption */
#slider .caption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 6px 12px;
	box-sizing: border-box;
	line-height: 1.25;
	color: #DDD;
	background: black;
	background: rgba(0,0,0,0.8);
}


/* --- Visual Timer --- */
.timer {
	position: relative;
	z-index: 1;
	background: #FFF;
}
.timer .progress {
	background: #069;
	position: relative;
	
	left: 0;
	width: 0;
}
.autoplaying .timer .progress {
	height: 3px;
	
	left: 0;
	width: 100%;
	transition: left 0s, width 8s;
}
.transitioning .timer .progress {
	left: 100%;
	width: 0px;
	transition: left .5s, width .5s;
}


/* --- DEMO: Tabs --- */
.demo-tabs #controls {
	margin: 15px 0 0;
}
.demo-tabs #controls ol {
	float: left;
}
.demo-tabs #controls li a {
	border-radius: 5px 5px 0 0;
	padding: 5px 10px;
}